.login-container {
    padding: 24px;
    display: flex;
    justify-content: center;

    form {
        border: 1px solid #ccc;
        padding: 24px;
        display: flex;
        flex-direction: column;
        gap: 16px;
        max-width: 1000px;
        width: 400px;
    }

    .log {
    display: flex;
    flex-direction: column !important;
}

.login-btn {
    padding: 10px;
    cursor:pointer;
    background: #ffb6c1;
    border: none;
    border-radius: 7px;
    color: #fff;
}

}